.projectImage{
   position: relative;
   cursor: pointer;
}
.projectImage:hover{
   opacity: 0.4;
   transition: 0.3s ease-in-out;
}
.projectText{
   position: relative;
   top: -500px;
   color: white;
   z-index: 1000;
}
